# Docs: https://caddyserver.com/docs/caddyfile
0.0.0.0:80 {
    root /var/www/q/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://q.test{uri}
}

# Cine Q
q.test:80 {
    root /var/www/q/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://q.test{uri}
}

q.test:443 {
    root /var/www/q/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}


babyinwaiting.test:80 {
    root /var/www/babyinwaiting/public
    tls self_signed
	log /var/www/babyinwaiting/logs/site.log
	errors /var/www/babyinwaiting/logs/site_errors.log
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}
 
# Screensavers
screensavers.test:80 {
    root /var/www/screensavers/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://screensavers.test{uri}
}

screensavers.test:443 {
    root /var/www/screensavers/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}
 
